# Env
APP_ENV=dev

<%_ if (cms == 'craft') { _%>
# Craft CMS endpoint
CMS_ENDPOINT=https://domain.com/api
<%_ } else if (cms == 'contentful') { _%>
# Contentful API keys
CONTENTFUL_SPACE=
CONTENTFUL_ACCESS_TOKEN=
<%_ } _%>
