// Load generated fonts
fontagon-font-path = 'shopify-theme/styles/fontagon-dist'
@import './fontagon-dist/fontagon'

// Add normalize
@import '~normalize.css'

// Load global styles
@import '~library/assets/app'

// Layout styles
@import './layout.styl'
