// This should be based on nuxt-app/layouts/default.vue
.default-layout
	max-width max-w-full
	margin-h auto
	width 100%
	overflow hidden

// On short pages, pin the footer to the bottom of the page
.default-layout_main
	min-height 100vh
	display flex
	flex-direction column
.default-layout_page
	flex-grow 1

