// These default rules are based on
// https://github.com/craftcms/redactor/blob/db2e4eb27cb2165d3dbd87aa999886012b749117/src/assets/field/src/css/RedactorInput.scss#L53-L88
style-h1()
	font-size 32px
	font-weight 600
style-h2()
	font-size 24px
	font-weight 600
style-h3()
	font-size 20px
	font-weight 600
style-h4()
	font-size 16px
	font-weight 600
style-h5()
	font-size 14px
	font-weight 600
