# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Node
node_modules

# Optional npm cache directory
.npm

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env
.env.test

# parcel-bundler cache (https://parceljs.org/)
.cache

# Nuxt.js build / generate output
.nuxt
dist

# MacOS
/.DS_Store

# Craft files from dev-ing locally that shouldn't get distributed
template/craft-cms/composer.lock
template/craft-cms/config/license.key

# Files that should be included in the template but are ignored because of
# gitignore rules
!template/*/.env
!template/craft-cms/config/project
